.container {  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.inputs-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.disposition-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  height: 65px;
  width: 250px;
  background-color: #212529;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  
}

.disposition-inputs {
  background-color: transparent;
  border: none;
  color: white;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  
  
}

.disposition-inputs:focus,
.disposition-inputs:active {
  width: 240px;
  height: -20px;
 
  background-color: #212529;
  box-shadow: none;
  color: white;
  caret-color: white;
}
.floating-text {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: top 0.3s ease, transform 0.3s ease, font-size 0.3s ease;
  color: gray;
  pointer-events: none;
  
}

.disposition-inputs:focus + .floating-text,
.disposition-inputs:not(:placeholder-shown) + .floating-text {
  top: 0.5px;
  transform: translateY(-10%);
  font-size: 14px;
  color: gray;
  
}
