/* ESTILOS PARA AVATAR */
.avatar-style {
  border: none;
}

/* ESTILOS PARA BOTÓN DE INICIO DE SESIÓN */
.btn-login-style {
  background-color: #212529;
  color: white; 
  border: none;
  border-radius: 10px;
  padding: 10px; 
  width: 100%; 
  margin-top: 10px; 
  margin-bottom: 30px; 
}

.btn-login-style:hover {
  background-color: #797c81;
  color: white; 
  font-weight: bold; 
  border: none;
}

/* ESTILOS PARA ENLACE DE CREACIÓN DE CUENTA */
.create-account-style {
  color: #212529; 
  font-weight: bold; 
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
}

.create-account-style:hover {
  color: #0056b3;
}
