/* CONTENEDOR DEL TEXTO */
#container-text {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 800px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    text-align: justify;
    margin-top: 80px;
}

/* FECHA DE PUBLICACIÓN */
.date {
    font-size: 14px;
    color: #666;
    margin-top: 20px;
    text-align: right;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 150px;
}